/* ==========================================================================
   Base styles
   ========================================================================== */

html,
body {
  @include size(100%);
  margin: 0;
  padding: 0;
}

// Order matters - from highest to lowest
$z-indexes: (
);
